PORT=10000
ADMIN_USER=admin
ADMIN_PASSWORD=change-this-password
JWT_SECRET=change-this-to-a-long-random-secret
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=sami91928bot
TELEGRAM_SUPPORT_USERNAME=saman_s87
TELEGRAM_CHANNEL_USERNAME=SamiWireGuard
CARD_NUMBER=
CARD_NAME=Sami WireGuard
CURRENCY=تومان
